<header class="navbar">
  <div class="container">
    <div class="left">
      <!-- <a (click)="openMenu()"><img src="/menu.png" class="icon" alt="Menu" /></a> -->
      <a (click)="openMenu()"><i class="fa-solid fa-bars fa-lg"></i></a>
    </div>

    <div class="center">
      <a routerLink="/" routerLinkActive="active" class="logo" [routerLinkActiveOptions]="{ exact: true }" class="logo"><img src="/logo.png" alt="Logo WrapVintage" /></a>
    </div>

    <div class="right_actions">
      <a (click)="openLogin()"><img src="/utilisateur.png" class="icon" alt="Compte" /></a>
      <a (click)="openSearchbar()"><img src="/loupe.png" class="icon" alt="Recherche" /></a>
      <a href="#"><img src="/shopping-bag.png" class="icon" alt="Panier" /></a>
      <!-- <a href="#"><i class="fa-regular fa-user fa-lg"></i></a>
      <a (click)="openSearchbar()"><i class="fa-solid fa-magnifying-glass fa-lg"></i></a>
      <a href="#"><i class="fa-solid fa-cart-shopping fa-lg"></i></a> -->
    </div>
  </div>
</header>

<!-- Composant MenuBurgerComponent avec liaison de données -->
<app-menu-burger [isMopen]="isMenuOpen" (linkClicked)="isMenuOpen = false"></app-menu-burger>

<!-- Composant SearchBarComponent avec liaison de données -->
<app-searchbar [isSopen]="isSearchOpen" (linkClicked)="isSearchOpen = false"> </app-searchbar>

<!-- Composant LoginModalComponent avec liaison de données -->
<app-login-modal [isLopen]="isLoginOpen" (linkClicked)="isLoginOpen = false"></app-login-modal>
