<div class="payment-section">

    <h2>Paiements sur Wrap Vintage</h2>

    <div class="payment-container">
        
        <div class="payment-details">
            <h3>PAIEMENTS ENTIÈREMENT SÉCURISÉS</h3>
            <p>Pour protéger et garantir la confidentialité de vos données, la transaction s'effectue sur un site de paiement sécurisé par cryptage SSL.</p>
            <h3>MOYENS de PAIEMENT</h3>
            <p>- Carte bancaire via STRIPE</p>
        </div>

        <div class="payment-image">
            <img src="/peace.jpg" alt="peace">
        </div>
    </div>

</div>
