
{
    acme_ca https://acme-v02.api.letsencrypt.org/directory
    acme_tls_alpn true
}

# Adresse du site 
wrapvintage.duckdns.org {
    encode gzip
    log

    # Redirige toutes les requêtes /api/* vers le backend
    handle_path /api/* {
        reverse_proxy backend:4004
    }

    # Tout le reste → frontend
    handle_path / {
        reverse_proxy frontend:80
    }
}
