
# Adresse du site 
wrapvintage.duckdns.org {
    encode gzip
    log

    # Redirige toutes les requêtes /api/* vers le backend
    handle /api/* {
        reverse_proxy backend:4004
    }
    
    # Tout le reste → frontend
    handle {
        reverse_proxy frontend:80
    }
}
