
/* Masquer par défaut */
.modal-backdrop {
  display: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Affichage quand isLopen est true */
.modal-backdrop.open {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

/* Fond sombre semi-transparent */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.searchbar {
  position: fixed;
  top: 10vh;
  right: -100%; /* cachée */
  width: 400px;
  height: 45px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: right 0.3s;
  z-index: 1001;
}

/* Ouvert */
.searchbar.open {
  right: 1rem;
}

/* Input */
.searchbar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
}

/* Icône loupe */
.searchbar img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Résultats de recherche */
.listProductSearch {
  position: fixed;
  top: calc(10vh + 50px); /* juste sous la searchbar */
  right: -100%;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  z-index: 999;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 1001;
}


.listProductSearch.open{
  right: 5rem;
}

.search-results {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-results li {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search-results li:hover {
  background-color: #f5f5f5;
}

.card {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.card img {
  width: 60px;
  object-fit: contain;
}


/* Tablettes */
@media (min-width: 601px) and (max-width: 1024px) {
  .searchbar {
    top: 9vh;
  }
}

/* Smartphone */
@media (max-width: 600px) {
  .searchbar {
    width: 80%;
    top: 9vh;
  }

.listProductSearch.open{
  right: 1rem;
}

}
