
<div class="CGV-section">
    <h2>Conditions générales de vente</h2>

    <section>
    <h3>Préambule</h3>
    <p>Le site wrapvintage.fr est édité et exploité par Wrap Vintage. Les Conditions Générales de Vente ont pour objet de définir les conditions dans lesquelles sont réalisées les ventes de produits.</p>
    </section>

    <section>
    <h3>Article 1 - Objet</h3>
    <p>Les conditions générales de vente décrites ci-après définissent les conditions applicables à tout achat effectué sur le site wrapvintage.fr (ci-après dénommé le “vendeur”) et de son client (ci-après dénommé l’“acheteur”). Toute commande passée sur le site wrapvintage.fr implique donc l’adhésion sans réserve de l’acheteur aux présentes conditions générales de vente. Le vendeur se réserve le droit de modifier ses conditions de vente à tout moment et dans ce cas, le signalera sur son site. Les conditions applicables seront celles en vigueur à la date de la commande par l’acheteur.</p>
    </section>

    <section>
    <h3>Article 2 - Prix</h3>
    <p>Les prix des produits vendus sont ceux en vigueur le jour de la prise de commande. Ils sont libellés en euros et calculés toutes taxes comprises. Les prix ne comprennent pas les frais d’expédition, facturés en supplément du prix des articles achetés. Les frais d’expédition seront indiqués avant l’enregistrement de la commande par l’acheteur. En revanche, tous droits de douane ou autres taxes locales susceptibles d’être exigibles sont à la seule charge de l’acheteur et sous sa responsabilité. Le vendeur s’accorde le droit de modifier ses tarifs à tout moment. Toutefois, il s’engage à facturer les marchandises commandées aux prix indiqués lors de l’enregistrement de la commande.</p>
    </section>

    <section>
    <h3>Article 3 - Prise de commande</h3>
    <p>Toutes les commandes s’effectuent sur le site wrapvintage.fr, en suivant les instructions communiquées sur le site à cet effet. Les informations énoncées par l’acheteur lors de la prise de commande engagent celui-ci. En cas d’erreur dans le libellé des coordonnées du destinataire, le vendeur ne saurait être tenu responsable de l’impossibilité dans laquelle il pourrait être de livrer le produit. Les commandes ne sont définitives que lorsqu’elles ont été confirmées par le règlement du prix par l’acheteur. Dès validation de votre commande, Wrap Vintage vous adressera un courrier électronique de confirmation de commande récapitulant l’intégralité de votre commande (nature des produits commandés, quantité et prix) par Stripe.</p>
    </section>

    <section>
    <h3>Article 3 bis - Signature électronique</h3>
    <p>Conformément à la loi du 13 mars 2000 sur la signature électronique, tout bon de commande signé de l’acheteur par “double clic” constitue une acceptation irrévocable qui ne peut être remise en cause que dans le cas limitativement prévu dans les présentes conditions générales de vente comme “droit de rétractation”. Le “double clic” associé à la procédure d’authentification et de non-répudiation et à la protection de l’intégrité des messages constitue une signature électronique. Cette signature électronique a valeur entre les parties comme une signature manuscrite.</p>
    </section>

    <section>
    <h3>Article 4 - Modalités de paiement</h3>
    <p>Le règlement des commandes s’effectue : par carte bancaire via le système de paiement sécurisé STRIPE. Suite à l’enregistrement de la commande, l’acheteur devra régler l’intégralité du montant de la commande, qui ne sera envoyée qu’à réception du règlement et de sa validation par la banque. Le vendeur se réserve le droit d’annuler toute commande d’un acheteur avec lequel il existerait un litige de paiement antérieur.</p>
    </section>

    <section>
    <h3>Article 5 - Disponibilité</h3>
    <p>En cas d’indisponibilité de produit après passation de la commande, l’acheteur sera informé par email de la livraison d’une commande partielle ou de l’annulation de sa commande. Si le débit est déjà intervenu au moment de l’information donnée sur l’indisponibilité du produit, une demande de remboursement des sommes engagées est faite. Un email d’information est alors envoyé à l’acheteur à ce sujet.</p>
    </section>

    <section>
    <h3>Article 6 - Livraison</h3>
    <p>La livraison est effectuée au lieu indiqué par l’acheteur sur le bon de commande. Wrap Vintage n'est pas responsable d'une erreur de saisie de l'adresse de la part de l'acheteur et ne pourra pas renvoyer la marchandise. Le délai de livraison indiqué lors de l’enregistrement de la commande n’est donné à titre indicatif et n’est aucunement garanti. Par voie de conséquence, tout retard raisonnable dans la livraison des produits ne pourra pas donner lieu au profit de l’acheteur à l’allocation de dommages et intérêts ou à l’annulation de la commande. Le risque du transport est supporté en totalité par l’acheteur. En cas de marchandises manquantes ou détériorées, l’acheteur devra formuler toutes les réserves nécessaires sur le bon de livraison à réception des dites marchandises. Ces réserves devront être, en outre, transmises par écrit dans les cinq jours suivant la livraison par courrier recommandé avec AR.</p>
    </section>

    <section>
    <h3>Article 7 - Service Clients</h3>
    <p>Le Service Clients Wrap Vintage est à votre disposition pour toute information par mail : <a href="mailto:wrapvintage&#64;gmail.com">wrapvintage&#64;gmail.com</a>
</p>
    </section>

    <section>
    <h3>Article 8 - Responsabilités</h3>
    <p>La responsabilité du vendeur ne pourra être mise en œuvre si la non-exécution ou le retard dans l’exécution de l’une de ses obligations décrites dans les présentes conditions générales de vente découle d’un cas de force majeure.</p>
    <p>À ce titre, la force majeure s’entend de tout événement extérieur, imprévisible et irrésistible au sens de l’article 1148 du Code Civil.</p>
    <p>La responsabilité du vendeur ne pourra également pas être mise en œuvre dans le cas de perturbation, de vol, de grève totale ou partielle, des services postaux.</p>
    </section>

    <section>
    <h3>Article 9 - Droit de rétractation et retour des produits</h3>
    <p>Conformément à l’article L.121-20 du Code de la Consommation, pour toute opération de vente à distance, l’acheteur dispose d’un délai de sept jours à compter de la livraison de sa commande pour faire retour du produit au vendeur pour échange ou remboursement, sans pénalités à l’exception des frais de retour.</p>
    <p>Dans le cas où l'acheteur demande à réaliser certaines modifications sur un produit, celui-ci sera alors altéré et modifié pour être considéré comme réalisé sur-mesure. Il ne pourra donc être ni échangé, ni remboursé par Wrap Vintage.</p>
    <p>Préalablement à tout retour, l’acheteur devra indiquer son intention par le biais d’un email envoyé à <a href="mailto:wrapvintage&#64;gmail.com">wrapvintage&#64;gmail.com</a> et attendre un accord par email avant de l'effectuer. Le retour s’effectuera à l’adresse suivante, sauf spécifications contraires, avec une copie du courrier électronique de confirmation de la commande :</p>
    <address>
        Wrap Vintage<br>
        71 impasse Biskra<br>
        83000 Toulon
    </address>
    <p>Le remboursement auprès de l’acheteur sera effectué dans un délai de 30 jours à compter de la réception des marchandises par Wrap Vintage, suite à l’exercice du droit de rétractation.</p>
    <p>En cas d'erreur de conformité de Wrap Vintage (quantité, couleur…), les frais de retour seront à la charge de Wrap Vintage. Le client devra renvoyer le produit en colissimo suivi et joindre le justificatif des frais de port. Les frais seront alors remboursés ou transformés en bons d’achat.</p>
    <p><strong>Wrap Vintage ne rembourse ni n’échange les articles soldés ou en promotion.</strong></p>

    <h4>Les garanties :</h4>
    <p>Tous nos modèles présentent une garantie de 30 jours à partir de la date de facturation.</p>
    <p>Toute demande de réparation au-delà de cette période sera facturée 25 euros à l'acheteur.</p>
    <p><strong>ATTENTION :</strong> Les bracelets Wrap Vintage ne doivent pas être en contact avec l'eau et ne seront pas garantis dans ce cas-là.</p>
    <p>Pour toute commande effectuée sur le site wrapvintage.fr, la garantie débute à la date de réception de la commande.</p>
    </section>

    <section>
    <h3>Article 10 - Protection des données personnelles</h3>
    <p>Les informations et données personnelles concernant l’acheteur sont nécessaires au traitement des commandes et aux relations commerciales. En vertu de la loi "Informatique et Libertés" du 6 janvier 1978 (article 27), Wrap Vintage s’engage à ne jamais diffuser ces informations à un tiers ou organisme commercial.</p>
    <p>L’acheteur peut à tout moment accéder à ses données et demander des modifications en envoyant un email à <a href="mailto:wrapvintage&#64;gmail.com">wrapvintage&#64;gmail.com</a> avec l’objet “Service suivi clientèle”.</p>
    </section>

    <section>
    <h3>Article 11 - Propriété intellectuelle</h3>
    <p>Tous les éléments du site wrapvintage.fr sont la propriété intellectuelle exclusive de Wrap Vintage. Tous les modèles présentés sont protégés par la loi (articles L111-1 et suivants du Code de la propriété intellectuelle).</p>
    <p>Aucune reproduction, même partielle, autre que celles prévues à l’article L122-5 du Code de la propriété intellectuelle, ne peut être faite sans autorisation écrite de Wrap Vintage.</p>
    <p>Wrap Vintage se dégage de toute responsabilité quant au contenu des sites tiers vers lesquels des liens hypertextes peuvent renvoyer depuis son propre site.</p>
    </section>

    <section>
    <h3>Article 12 - Mentions légales</h3>
    <p>SARL Wrap Vintage – SIRET : 814 704 078 est une marque déposée.</p>
    </section>

    <section>
    <h3>Article 13 - Droit applicable et juridiction compétente</h3>
    <p>Les présentes conditions générales de vente sont soumises au droit français. En cas de litige, Wrap Vintage et l’acheteur s’engagent à rechercher une solution amiable avant toute procédure judiciaire.</p>
    <p>Tous les litiges relatifs à la relation commerciale entre l’acheteur et Wrap Vintage sont soumis à la compétence exclusive des tribunaux français.</p>
    </section>
</div>
