
<div class="text">
    <h2>BRACELET FEMME</h2>
    <h1>Wrap Vintage</h1>
    <p>Retrouvez ici tous les Bracelets Wrap ! De longues broderies ornées de pierres qui s'enroulent à nos poignets.</p> 
    <p>Des bracelets 3 ou 5 tours pour ne former qu'un seul bijou. Entièrement faits à la main dans notre atelier, nous garantissons la meilleure des finitions et la véracité des pierres semi-précieuses naturelles que nous utilisons dans nos bijoux. </p> 
    <p>Les Bracelets Wrap Vintage ont déjà conquis des nombreuses blogueuses et influenceuses, et vous ?</p>
</div>

<div class="container">
    @for (product of products; track product.id) {
    <div class="card" (click)="test()">
        <img [src]="product.imageURL" />
        <h3>{{product.name}}</h3>
        <p>{{product.price}} €</p>
    </div> 
    }
</div>