
<!-- Fond sombre derrière le modal -->
<div class="modal-backdrop" [class.open]="isMopen" (click)="closeMenu()"></div>

<div class="menu" [class.open]="isMopen"> 
  <nav>
    <ul>
      <li><a routerLink="/" (click)="closeMenu()">Accueil</a></li>
      <li><a routerLink="/nouveautes" (click)="closeMenu()">Nouveautés</a></li>
      <li><a routerLink="/bracelet-homme" (click)="closeMenu()" routerLinkActive="active">Bracelet Homme</a></li>
      <li><a routerLink="/bracelet-femme" (click)="closeMenu()" routerLinkActive="active">Bracelet Femme</a></li>
    </ul>
  </nav>
</div>


