
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0rem 10rem;
}

.text h2{
    color: #D4B369;
    margin-bottom: 0;
}

.text h1{
    color: #D4B369;
    margin-top: 0;
    font-size: 1.5rem;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr); /* Crée deux colonnes de largeur égale */
    justify-items: center; /* Centre les éléments dans chaque cellule de la grille */
    align-items: stretch; /* Étire les éléments pour qu'ils aient la même hauteur */
    max-width: 100%;
    gap: 1.5rem; /* Espace entre les colonnes */
    padding: 3rem; /* Ajoute un peu de padding autour du conteneur */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espace entre les éléments pour remplir la carte */
    align-items: center;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.274);
    transition: 0.5s;
    text-align: center;
    width: 100%; /* 100% pour que la carte prenne toute la largeur de la colonne */
    max-width: 18rem; /* Limite la largeur maximale de la carte */
    height: 100%; /* la carte prend toute la hauteur disponible */
}

.card:hover {
    transform: scale(1.06);
    cursor: pointer;
}

img {
    width: 100%; /* 100% pour que l'image prenne toute la largeur de la carte */
    border-radius: 15px;
}


/* Pour les tablettes */
@media (min-width: 601px) and (max-width: 1024px) {

    .text {
        padding: 0rem 4rem;
    }

    .container {
        grid-template-columns: repeat(3, 1fr); /* Deux colonnes pour les tablettes */
    }
}

/* Pour les smartphones */
@media (max-width: 600px) {

    .text {
        padding: 0rem 1rem;
    }
    
    .container {
        grid-template-columns: repeat(2, 1fr); /* Deux colonnes pour les tablettes */
        gap: 1.25rem;
        padding:2rem 1rem;
    }
}