
<div class="text">
    <h2>LES NOUVEAUTÉS</h2>
    <h1>Wrap Vintage</h1>
    <p>Toutes les nouveautés sont là ! Nous élargissons notre gamme pour ainsi partager davantage notre passion en vous proposant des pierres naturelles semi-précieuses, cristaux et minéraux brutes ou roulés de grande qualité.</p>
</div>

<div class="container">
    @for (product of products; track product.id) {
    <div class="card">
        <img [src]="product.imageURL" />
        <h3>{{product.name}}</h3>
        <p>{{product.price}} €</p>
    </div> 
    }
</div>
