<header class="navbar">
  <div class="container">
    <div class="left">
      <a (click)="openMenu()"><img src="/menu.png" class="icon" alt="Menu" /></a>
    </div>

    <div class="center">
      <a routerLink="/" routerLinkActive="active" class="logo" [routerLinkActiveOptions]="{ exact: true }" class="logo"><img src="/logo.png" alt="Logo WrapVintage" /></a>
    </div>

    <div class="right_actions">
      <a href="#"><img src="/utilisateur.png" class="icon" alt="Compte" /></a>
      <a (click)="openSearchbar()"><img src="/loupe.png" class="icon" alt="Recherche" /></a>
      <a href="#"><img src="/shopping-bag.png" class="icon" alt="Panier" /></a>
    </div>
  </div>
</header>

<!-- Composant MenuBurgerComponent avec liaison de données -->
<app-menu-burger [isOpen]="isMenuOpen" (linkClicked)="isMenuOpen = false"></app-menu-burger>

<!-- Composant SearchBarComponent avec liaison de données -->
<app-searchbar [isSopen]="isSearchOpen" (linkClicked)="isSearchOpen = false"> </app-searchbar>

