<header class="navbar">
  <div class="container">
    <div class="left">
      <a href="#"><img src="/menu.png" class="icon" alt="Menu" /></a>
    </div>

    <div class="center">
      <a href="/" class="logo"><img src="/logo.png" alt="Logo WrapVintage" /></a>
    </div>

    <div class="right_actions">
      <a href="#"><img src="/utilisateur.png" class="icon" alt="Compte" /></a>
      <a href="#"><img src="/loupe.png" class="icon" alt="Recherche" /></a>
      <a href="#"><img src="/shopping-bag.png" class="icon" alt="Panier" /></a>
    </div>
  </div>
</header>
