
<div class="section1">
    <h2>Créateur de Bijoux & Bracelets en pierres naturelles</h2>
    <img src="/Home1.jpg" alt="Home1">
</div>

<div class="section2">
    <div class="case">
        <img src="/main_transparent.png" alt="main">
        <h3>Un bijou créateur Made in France</h3>
        <p>Pensés, imaginés et brodés à la main dans notre atelier dans le sud de la France, Nous sommes les créateurs du Bracelet Wrap en France depuis 2014.</p>
    </div>
        <div class="case">
        <img src="/cristal_transparent.png" alt="cristal">
        <h3>Des pierres semi-précieuses</h3>
        <p>Spécialistes et initiés à la lithothérapie, nous apportons une grande importance à la qualité de nos pierres semi-précieuses qui sont toutes naturelle et de qualité AA ou Extra.</p>
    </div>
        <div class="case">
        <img src="/tortue_transparent.png" alt="main">
        <h3>Des bracelets vegan</h3>
        <p>Des bijoux sans composant d'origine animale emballés dans un packaging eco-friendly.</p>
    </div>
</div>

<div class="section3">
    <img src="Nusa-penida.jpg" alt="Nusa">
    <div class="text">
        <h3>Wrap Vintage, une marque engagée</h3>
        <p>Profondément amoureux de la nature, nous nous sommes engagés à travers nos créations pour la protection des océans et de la faune sauvage en France.</p>
    </div>
</div>

<div class="section4">
    <h3>A PROPOS</h3>
    <p>Passionnés par les minéraux et leurs vertus nous fabriquons des bijoux bien-être dans le but de magnifier les reflets uniques des pierres semi-précieuses. Tous les bijoux Wrap Vintage sont pensés, dessinés et fabriqués en France dans la petite ville ensoleillée du sud est, Toulon.</p>
</div>