.menu {
  position: fixed;
  top: 15vh;
  left: -100%; /* caché par défaut */
  width: 220px;
  max-width: 80%;
  height: auto;
  background: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  transition: left 0.3s;
  padding: 2rem 1rem;
  border-radius: 20px;
  z-index: 2;
}

/* Menu ouvert */
.menu.open {
  left: 1rem;
}

/* Liste */
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 1.4rem;
}

.menu a {
  text-decoration: none;

  color: black;
  cursor: pointer;
}

/* Tablettes */
@media (min-width: 601px) and (max-width: 1024px) {
  .menu {
    top: 8vh;
    left: -100%;
  }
}

/* Smartphones */
@media (max-width: 600px) {
}
