<footer>
    <div class="container">

        <div class="left">
            <h3>Informations</h3>
            <ul>
                <li><a routerLink="/livraison" routerLinkActive="active">Livraison</a></li>
                <li><a routerLink="/payment-condition" routerLinkActive="active">Paiement sécurisé</a></li>
                <li><a routerLink="/cgv" routerLinkActive="active">CGV</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="right">
            <!-- <a href="https://www.facebook.com/wrapvintage" target="_blank"><img src="/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/wrapvintage" target="_blank"><img src="/instagram.png" alt="Instagram"></a>
            <a href="https://fr.pinterest.com/wrapvintage" target="_blank"><img src="/pinterest.png" alt="Pinterest"></a> -->
            <a href="https://www.facebook.com/wrapvintage" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <!-- <a href="https://www.instagram.com/wrapvintage" target="_blank"><i class="fa-brands fa-instagram" style="color: #D4B369;"></i></a> -->
            <a href="https://www.instagram.com/wrapvintage" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://fr.pinterest.com/wrapvintage" target="_blank"><i class="fa-brands fa-pinterest"></i></a>
        </div>
    </div>

    <div class="copyright">
        <p>© 2025 Wrap Vintage. All rights reserved.</p>
        <p>Wrap Vintage is committed to GDPR compliance and data protection.</p>
    </div>
    
</footer>
