<footer>
    <div class="container">

        <div class="left">
            <h3>Informations</h3>
            <li><a href="#">Livraison</a></li>
            <li><a href="#">Paiement sécurisé</a></li>
            <li><a href="#">CGV</a></li>
            <li><a href="#">Contact</a></li>
        </div>

        <div class="right">
            <a href="#"><img src="/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="/pinterest.png" alt="Pinterest"></a>
        </div>
    </div>

    <div class="copyright">
        <p>© 2025 Wrap Vintage. All rights reserved.</p>
        <p>Wrap Vintage is committed to GDPR compliance and data protection.</p>
    </div>
    
</footer>
