<div class="livraison-section">
    <h2>Livraison</h2>
    <div class="livraison-container">
        <div class="livraison-details">
            <h3>France métropolitaine et DOM-TOM</h3>
            <p>Livraison gratuite.</p>
            <p>Lettre Suivie ou Colissimo (Point Relais en cours).</p>
            <p>-</p>
            <p>Durée du voyage</p>
            <p>1 à 3 jours à destination de la métropole (ouvrés hors week-end et jours fériés).</p>
            <p>3 à 5 jours à destination des DOM-TOM (ouvrés hors week-end et jours fériés).</p>
        </div>
        <div class="livraison-image">
            <img src="Nitia.jpg" alt="Image de livraison">
        </div>
    </div>
</div>

<div class="expedition-section">
    <h2>L'expédition</h2>
    <h1>Wrap Vintage</h1>
    <h3>12H à 72H</h3>
    <p>Nous garantissons une expédition rapide 12H à 72H pour les commandes classiques. Un délai de 4 jours est ajouté aux commandes de bijoux sur-mesure.</p>
    <h3>Les fêtes de fin d'année</h3>
    <p>Nous préparons vos commandes en express afin de garantir une livraison avant Noël. En cette période, l'expédition des commandes est exceptionnellement faite dans les 12h à partir de la confirmation de votre commande.</p>
</div>
